{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <h1>{{ post.title }}</h1>
        <p class="date">Published {{ post.date_added|date:'M d, Y' }}</p>
        
        <p class="intro">{{ post.intro }}</p>
        
        <div class="body">
            {{ post.body }}
        </div>
    </div>
    
    <h2>Comments</h2>
    {% for comment in post.comments.all %}
        <div class="comment">
            <p class="info">
                Posted by {{ comment.name }} on {{ comment.date_added|date:'M d, Y' }}
            </p>
            {{ comment.body }}
        </div>
    {% endfor %}
{% endblock %}
